$main-color:#ec6659;
@import './global';
.navbar{
    .header-logo{
        max-width: 100px;
    }
    .nav-link.active, .nav-link:hover{
        color:  var(--main-color);
        box-shadow:0 0.01rem 0.25rem rgb(139 124 124 / 45%) !important;
        transition: 0.2s;
    }
    z-index: 1000;
}
.myheaderName:hover{
    color: var(--main-color);
}
.contact-form{
    width: fit-content;
    margin: 0 auto;
}
@import './parts/home';
@import './parts/certifi';
@import './parts/skills';
@import './parts/projects';
@import './darkmode';